.container-logos {
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
}
/* Mobile-responsive */
@media screen and (max-width: 600px) {
  .container-logos {
    height: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }
  .client-logo {
    padding: 10px;
  }
}
