body{
    background-color: #F2F4FC;
    margin: 0px;
    padding: 50px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 768px){
    body{
        padding: 20px;
    }
    }