#navbar{
    margin-top: 60px;
    font-weight: bold;
}

.navbar-brand{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-btn{
    background-color: #072AC8;
    border: none;
    color: #F2F4FC;
    padding: 15px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.contact-btn:hover{
    background-color: #292E47;
    cursor: pointer;
    
}

.menu{
    width: 300px;
    display: flex;
    justify-content: space-between; 
}

.menu a {
    color: #6B708D;
}

.menu a:hover{
    color: #072ACA;
    cursor: pointer;
}

/* Tablet-medium-Mobile */
@media only screen and (max-width: 768px){
    #navbar{
        margin:0px;
    }
    .menu{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navbar-brand{
        display: flex;
    }
    }