.container-projects {
  margin-top: 60px;
  padding: 0px 30px;
}

.projects {
  display: flex;
  justify-content: space-between;
}
.project-heading h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #292e47;
  margin-top: 200px;
  padding: 0px 30px;
}

.project-card {
  width: 320px;
  height: 440px;
}

.project-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  vertical-align: middle;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
}

.project-text-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -30px;
}

.project-text a {
  color: #072ac8;
  font-weight: bold;
}

/* Tablet and Mobile responsive */
@media screen and (max-width: 768px) {
  .project-heading {
    padding: 9px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-card {
    width: 100%;
    margin: 0px 7px;
  }
}
